.container{
    
    display: grid;
    max-width: 70%;
    margin-bottom: 50px;
    @media (max-width: 768px) {
        max-width: 100%;
    }

}

.padding{
    margin-bottom:10px;
}
.buttons{
    display: flex;
    justify-content:flex-end;
    gap: 30px;
}